<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/javascripts/angular.js"></script>
</head>
<body>
<center>
    <h5>Teaching plan operations!</h5>
    <div ng-app="teachingPlanApp" ng-controller="teachingPlanCtrl">
        <form>
            <table>
                <tr>
                    <td><input type="hidden" ng-model="_id"></td>
                </tr>
                <tr>
                    <td>Lecture Number</td>
                    <td><input type="text" ng-model="lectureNumber"></td>
                </tr>
                <tr>
                    <td>Topic</td>
                    <td><input type="text" ng-model="topic"></td>
                </tr>
                <tr>
                    <td>Book Reference</td>
                    <td><input type="text" ng-model="bookRef"></td>
                </tr>
                <tr>
                    <td>CO</td>
                    <td><input type="text" ng-model="co"></td>
                </tr>
                <tr>
                    <td>Methodology</td>
                    <td><input type="text" ng-model="methodology"></td>
                </tr>
                <tr>
                    <td>Subject</td>
                    <td><input type="text" ng-model="subject"></td>
                </tr>
                <tr>
                    <td>Year</td>
                    <td><input type="text" ng-model="year"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button ng-click="save()">SAVE</button>
                        <button ng-click="clear()">CLEAR</button>
                    </td>
                </tr>
            </table>
        </form>
        <br>

        <table border="1px">
            <tr ng-repeat="plan in myData">
                <td>{{plan.lectureNumber}}</td>
                <td>{{plan.topic}}</td>
                <td>{{plan.bookRef}}</td>
                <td>{{plan.co}}</td>
                <td>{{plan.methodology}}</td>
                <td>{{plan.subject}}</td>
                <td>{{plan.year}}</td>
                <td><button ng-click="edit(plan._id, plan.lectureNumber, plan.topic, plan.bookRef,
                plan.co, plan.methodology, plan.subject, plan.year)">EDIT</button></td>
                <td><button>DELETE</button></td>
            </tr>
        </table>
    </div>
</center>
    <script>
        let app = angular.module('teachingPlanApp',[]);
        app.controller('teachingPlanCtrl',function($scope, $http){

            $http.get('http://localhost:3000/teaching_plan/get-teachingPlan').then((response)=>{
                console.log(response.data);
                $scope.myData = response.data;
            });

            $scope._id = '';
            $scope.lectureNumber = '';
            $scope.topic = '';
            $scope.bookRef = '';
            $scope.co = '';
            $scope.methodology = '';
            $scope.subject = '';
            $scope.year = '';

            $scope.save = function(){
                if($scope._id.length > 0){
                    //edit
                    const teachingPlan = {
                        _id: $scope._id,
                        lectureNumber: $scope.lectureNumber,
                        topic: $scope.topic,
                        bookRef: $scope.bookRef,
                        co: $scope.co,
                        methodology: $scope.methodology,
                        subject: $scope.subject,
                        year: $scope.year
                    }
                    $http.post('http://localhost:3000/teaching_plan/update-teachingPlan',teachingPlan)
                        .then((response)=>{
                            if(response.data.info == 'Record Updated'){
                                console.log(response.data);
                                for(let i = 0; i < $scope.myData.length; i++ ){
                                    if($scope.myData[i]._id == $scope._id){
                                        $scope.myData[i].lectureNumber = $scope.lectureNumber;
                                        $scope.myData[i].topic = $scope.topic;
                                        $scope.myData[i].bookRef = $scope.bookRef;
                                        $scope.myData[i].co = $scope.co;
                                        $scope.myData[i].methodology = $scope.methodology;
                                        $scope.myData[i].subject = $scope.subject;
                                        $scope.myData[i].year = $scope.year;
                                    }
                                }
                            }

                        });
                }else{
                    //add
                    const teachingPlan = {
                        _id: '',
                        lectureNumber: $scope.lectureNumber,
                        topic: $scope.topic,
                        bookRef: $scope.bookRef,
                        co: $scope.co,
                        methodology: $scope.methodology,
                        subject: $scope.subject,
                        year: $scope.year
                    }
                    $http.post('http://localhost:3000/teaching_plan/add-teachingPlan',teachingPlan)
                        .then((response)=>{
                            if(response.data.info == 'Record added'){
                                console.log(response.data);
                                teachingPlan._id = response.data.obj._id;
                                $scope.myData.push(teachingPlan);
                            }
                        });
                }


            }

            $scope.edit = function (_id, lectureNumber, topic,  bookRef,
                co, methodology, subject, year) {
                $scope._id = _id;
                $scope.lectureNumber = lectureNumber;
                $scope.topic = topic;
                $scope.bookRef = bookRef;
                $scope.co = co;
                $scope.methodology = methodology;
                $scope.subject = subject;
                $scope.year = year;
            }

            $scope.clear = function (){
                $scope._id = '';
                $scope.lectureNumber = '';
                $scope.topic = '';
                $scope.bookRef = '';
                $scope.co = '';
                $scope.methodology = '';
                $scope.subject = '';
                $scope.year = '';
            }
        })
    </script>
</body>
</html>
